<h1>Editing friends db</h1>

<%= render "form", friends_db: @friends_db %>

<br>

<div>
  <%= link_to "Show this friends db", @friends_db %> |
  <%= link_to "Back to friends dbs", friends_dbs_path %>
</div>
